/* Put your style information here! */
* {
    font-family: 'Montserrat', sans-serif;
}
body {
    padding: 50px 100px;
}
p {
    width: 100%;
    font-size: 17px;
    line-height: 150%;
}
h2 {
    text-transform: uppercase;
    font-size: 30px;
    padding: 50px 0 20px 0;
    text-decoration: underline;
    color: #820f0d;
}
h3 {
    font-size: 22px;
}
a {
    text-decoration: none;
}
/* Nav bar */
.navBar {
    position: fixed;
    right: 0;
    padding-right: 100px;
    z-index: 100;
}
.navLink {
    border-bottom: 2px solid #455dd6; 
    text-decoration: none;
    color: black;
    margin: 0px 7px;
    transition: 0.2s all ease-in-out;
    
}
.navLink:hover {
    color: #455dd6;
    padding: 2px 5px;
    letter-spacing: 3px;;
    border-bottom: 2px solid #455dd6;
    border-top: 2px solid #455dd6;
    
}
.bold {
    font-weight: 700;
}
.emphasize {
    font-weight: 600;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title {
    font-size: 60px;
}
.oscarImg {
    height: 100px;

    margin-left: -50px;
    margin-right: -60px;
}
.overview {
    text-align: center;
    width: 60%;
    font-size: 17px;
    margin: -10px 0px 50px 0;
    text-align: justify;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
}
.toReport{
    color: white;
    background-color: #820f0d;
    padding: 12px 40px;
    font-size: 15px;
    letter-spacing: 2px;
    border-radius: 5px;
    border-bottom: 2px solid#730c0a;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    font-weight: 400;
}
.toReport:hover {
    background-color: #730c0a;
}
li {
    padding: 5px 50px 20px 0;
}
.poster {
    width:100%;
}
.link {
    padding-top: 70px;
}
.disclaimer {
    text-align: center;
}
@media only screen and (max-width: 500px){
    body {
    padding: 30px 10px;
}
    .title {
        text-align: center;
        font-size: 28px;
        margin-top: 50px;
    }
    .overview {
        text-align: center;
        width: 90%;
        font-size: 15px;
    }
    h2{
        font-size: 22px;
    }
    p {
        font-size: 15px;
        width: 100%;
    }
    h3 {
        font-size: 18px;
    }
}